.header {
  display: flex;
  background-color: $color-gray-light-1;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $color-gray-light-2;

  @include respond(phone) {
    flex-wrap: wrap;
    padding-bottom: 1.2rem;
  }

  &__logo-box {
    height: 3.6rem;
    margin-left: 1.6rem;
  }

  &__logo {
    height: 100%;
    display: block;
  }

  &__search-box {
    height: 4rem;
    align-self: center;

    @include respond(tab-port) {
      height: 3rem;
    }

    @include respond(phone) {
      height: 4rem;
      order: 10;
      flex-basis: 100%;
    }
  }
}
