.header {
  display: flex;
  background-color: $color-gray-light-1;
  justify-content: space-between;
  padding: 1.6rem;

  &__logo-box {
    height: 4rem;
  }

  &__logo {
    height: 100%;
    display: block;
  }

  &__search-box {
    height: 4rem;
    align-self: center;
  }
}
