.details {
  display: flex;
  gap: $details-gutter;

  @include respond(phone) {
    flex-wrap: wrap;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: $details-gutter;
  }

  .review {
    background-color: $color-gray-light-1;
  }
}

.description {
  background-color: $color-white;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.15);

  &-box {
    padding: 2.4rem 0;
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light-2;
    }
  }

  &__list {
    height: 10rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include respond(phone) {
      height: auto;
    }
  }

  &__item {
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;
      margin-right: 0.6rem;
    }

    @supports (
      (
          (-webkit-mask-image: url("../img/chevron-thin-right.svg")) and
            (-webkit-mask-size: cover)
        )
        or
        (
          (mask-image: url("../img/chevron-thin-right.svg")) and
            (mask-size: cover)
        )
    ) {
      &::before {
        background-image: none;
        background-color: $color-primary;
        -webkit-mask-image: url("../img/chevron-thin-right.svg");
        mask-image: url("../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
        mask-size: cover;
      }
    }
  }

  &__recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__recommend-text {
    font-size: 1.4rem;
    color: $color-gray-dark-3;
  }

  &__recommend-list {
    display: flex;
  }

  &__recommend-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid $color-white;

    &:not(:last-child) {
      margin-right: -1.6rem;
    }
  }
}

.review {
  padding: 2.4rem;
  box-shadow: 0 1.2rem 3.6rem rgba($color-black, 0.15);
  position: relative;

  &::before {
    content: "\201C";
    position: absolute;
    font-family: sans-serif;
    font-size: 20rem;
    color: $color-gray-light-2;
    z-index: 10;
    top: -2.75rem;
    left: -0.75rem;
    line-height: 1;
  }

  &__text {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
    z-index: 20;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__img {
    max-height: 4.8rem;
    border-radius: 50%;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
  }

  &__user {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__date {
    font-size: 1rem;
    color: $color-gray-dark-3;
  }

  &__score {
    margin-left: auto;
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-primary;
  }

  &__show-all {
    text-align: center;

    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}
